

.btn-forms {
    background-color: #f8f2d9;
    @extend %botones;   


    &:hover{
      color: black;
    font-size: x-large;
    background-color: #E6A16F;
    
    }
  }

  .te-esperamos{
    padding: 2%;
    text-align: center;

  }
  .ratio{
    margin: auto;    
    width: 80%;
    
  }

.asunto{
  display: flex;
  justify-content: center ;

}

.datos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  padding-top: 50px;

}
 
.comentarios{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-top: 50px;

}

.enviar{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-top: 50px;

}
 
