

$standard:(
    color-standard: black,
    bg-standard:  #f1e6b6,
    mx-auto: 0 auto,
    flexbox-standard: flex
);

$premium: (
    color-standard: red,
    bg-standard: blue,
    mx-auto: 0 auto,
    flexbox-standard: grid
);



